{% load static  %}
{% csrf_token %}
    
      
<!--Primeira sessão-->       
    <div class="capa">
        <div class="texto-capa">
            <h1>Nosso negócio é fazer o seu dar certo.</h1>
            <h3>Qual é o seu?</h3>            
                <div class="col-12 col-lg-12 mt-6 mt-lg-6">
                    <a href="https://wa.me/5551983083842" target="_blank" class="button button-reveal button-large button-circle text-end m-0 bnt-vortex"><i class="icon-angle-right"></i><span>Entre em contato conosco</span></a>
                </div>                    
        </div>
    </div>

    <div class="promo promo-full promo-border p-5 header-stick bottommargin-lg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-lg">
					<h3>Você pode<span style="color: #7ff3fd;">trazer o seu negócio para essa nova era,</span> e nós estamos aqui para te ajudar!</h3>
					<span style="color: #7ff3fd;">Nós queremos melhorar<em> oque já e bom</em> e adequar para o presente. Quer saber como? Clique no botão e vamos conversar.</span>
				</div>							
			</div>
		</div>
	</div>

<!--/Primeira sessão-->

<!--Segunda sessão-->
     <section id="servicos">
     <!--Serviços-->
													
			<div class="col-md-12 col-lg-12">
			    <div class="widget clearfix" style="margin-bottom: -20px; margin-top: 12px;">

					<div class="row row-div-serv">

						<div class="col-3 col-md-4 col-lg-4 clearfix">
							<a href="#" class="icon-service-vtx mb-0" style="margin-right: 10px; border: 0px;">
								<img src="{% static 'vortex_core/img/construção.png' %}">
							</a>
							<a><small style="display: inline-block; margin-top: 3px;">Construção de<br>Marca</small></a>
						</div>

                        <div class="col-3 col-md-4 col-lg-4 clearfix">
							<a href="#" class="icon-service-vtx mb-0" style="margin-right: 10px; border: 0px;">
								<img src="{% static 'vortex_core/img/identidade.png' %}">
							</a>
							<a><small style="display: inline-block; margin-top: 3px;">Identidade<br>Visual</small></a>
						</div>

                        <div class="col-3 col-md-4 col-lg-4 clearfix">
							<a href="#" class="icon-service-vtx mb-0" style="margin-right: 10px; border: 0px;">
								<img src="{% static 'vortex_core/img/midia.png' %}">
							</a>
							<a><small style="display: inline-block; margin-top: 5px;">Mídias<br>Sociais</small></a>
						</div>


					</div>
										
				</div>
			</div>
       
     <!--/Serviços-->

	 <!--Era Digital-->
        <div id="eradigital" class="container">
            <div class="row">
            <!-- imagens -->
                <div class="col-md-6">
                    <div class="row img-servicos1">

                        <div class="col-md-6 zoom">
                            <a href="#">
                                <img src="{% static 'vortex_core/img/Mapeamento de público.png' %}" class="img-responsive">
                            </a>
                        </div>                        
                        <div class="col-md-6 btred zoom">
                            <a href="#">
                                <img src="{% static 'vortex_core/img/Plano e Criação de conteúdo.png' %}" class="img-responsive">
                            </a>
                        </div>

                    </div><!--/row-->

                    <div class="row img-servicos2">

                        <div class="col-md-6 btred zoom">
                            <a href="#">
                                <img src="{% static 'vortex_core/img/Branding.png' %}" class="img-responsive">
                            </a>
                         </div>
                                                
                        <div class="col-md-6 btred zoom">
                            <a href="#">
                                <img src="{% static 'vortex_core/img/Vídeos comerciais.png' %}" class="img-responsive">
                            </a>
                        </div>


                    </div><!--/row-->

                </div>
                    <div class="col-md-6 era-digital" id="era-anchor">
                    <h4>Era Digital</h4>
                        <p>
                        Vivemos dias em que a evolução tecnológica é constante e intensa. <br> Já não temos tempo para nos adaptarmos 
						às mudanças e isso altera o modo como consumimos, também a forma como interagimos com outras pessoas. 
						Tudo é muito rápido, tudo precisa ser imediato. Esse é um novo ciclo dos meios de comunicação, onde a
						 relação com o consumidor vai além de um bom atendimento, é uma questão de superar as expectativas, dar ao 
						 seu cliente opções tão boas quanto a melhor, ir além do convencional, dar à ele a certeza de que acertou 
						 em cheio ao contratar seu serviço, ou adquirir seu produto.
						Cada vez mais, estabelecer autoridade, agregar valor e informação à sua atividade, têm sido poderosas 
						ferramentas para a construção de confiança na relação público/marca. Trazer conteúdo e disponibilizá-lo de
						forma gratuita, fomentando ideais de informação livre, é o modo mais seguro e efetivo de se conectar ao 
						consumidor, esse é o futuro da comunicação digital e do mercado como um todo. E este futuro está sendo 
						escrito agora!
						Grande parte dessa realidade se dá pelo fato de que o marketing digital está ligado ao conceito de cativar o
						público, atraí-lo até você. Entretanto, ninguém procura uma marca atoa, e estimular a vontade através da
						propaganda já não tem sido o bastante. Hoje é preciso dar para receber, de uma forma muito mais substancial
						e inteligente.
						Não é mais uma questão de estímulo. O consumidor se tornou mais exigente, principalmente quando se trata de 
						serviços mais complexos.<br> Em resumo, o marketing digital, na era da informação, está intimamente ligado ao 
						marketing de conteúdo e a produção de informação relevante. E o mais interessante dessa estratégia é que o custo 
						diminuiu drasticamente, ter a propaganda e estratégia perfeita para o seu negócio se tornou acessível, não é mais
						exclusividade das grandes marcas que aparecem na tv.<br><br>
						<strong>Nós te convidamos, animados, e mais do que nunca, prontos! Para transformar o seu negócio, dar um fôlego novo à
						sua atividade comercial. Venha conosco fazer parte da história que está sendo escrita, o grande êxodo comercial da
						internet.</strong>
                        </p>
                </div>
            </div>
        </div>
    </section>
	<!--/Era Digital-->
<!--/Segunda sessão-->

<!--Terceira sessão-->
	<!--Quem Somos-->
	<section id="quem-somos">
        <div class="container">
            <div class="row">
            <!--Texto-->
                <div id="quemsomos" class="col-md-6">
                    <h2 id="quem-anchor">Quem Somos</h2>

                    <p> Assim como você, nascemos de uma ideia inovadora,
                        não mais que uma mochila nas costas e um plano
                        ambicioso. O desejo e vocação para solucionar e ajudar
                        também à outros inquietos por natureza a virar a chave
                        da vida profissional.
                        <br>
                        O que te faz crer que o seu negócio tem potencial para
                        ser grande? Como lidar com todos os problemas diários
                        de uma empresa sozinho(a)?
                        Não existe “fórmula mágica” para solucionar todos os
                        problemas e obstáculos na jornada do empreendedor,
                        mas nós acreditamos na força motriz do planejamento.
                        Nossa missão é guiar você e sua equipe na estrada para
                        o sucesso profissional, não porque temos as respostas
                        para todas as perguntas, mas porque temos por vocação
                        o espírito desbravador para navegar novos mares e alçar
                        voos sempre mais altos.
                        <br>
                        A Vortex foi criada em 2021, o ano da mudança, o momento de reconstruir e fortificar. Sabemos o quão difícil
                        pode ser perder um negócio, um emprego, um vínculo
                        profissional, e por isso nos lançamos no mar aberto da
                        internet, com o intuito de ajudar na reconstrução, remodelagem e fortificação do mercado.
                        Onde você entra nisso? Nós não buscamos apenas clientes, nós buscamos parceiros, peças fundamentais na
                        roda econômica e uma network de negócios que se
                        complementam com um único objetivo:
                        Crescer e ajudar a crescer.<br><br> <strong> E você? <br> O que te motiva?</strong></p>
                </div>
           		 <!--IMG-->
			 	<div class="col-md-1"></div>
                <div class="col-md-4 img-quem-somos">
                    <img src="{% static 'vortex_core/img/Vortex - Logo branco.png' %}" class="img-responsive" alt="logo">
                </div>
				<div class="col-md-1"></div>
            </div>
        </div>
    </section>
	<!--/Quem Somos-->
<!--/Terceira sessão-->